MONGODB_URI=mongodb+srv://madi:madi@cluster0.rnb3q.mongodb.net/Diploma?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=replace_with_strong_secret
PYTHON_RECOMMENDER_URL=
NEXT_PUBLIC_APP_URL=http://localhost:8080
NODE_ENV=production
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
SMTP_USER=uniworkkz01@gmail.com
SMTP_PASS=bbyw imrb azwf ezlx
SMTP_FROM=UniWork Diploma <uniworkkz01@gmail.com>
